html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #050912;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
}